doctype html
html(lang="en")
    head
        style 
            include ../styles.css
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        
    body
        header
            h1 ChatMe
        
        main
            div.beforeEnter
                form
                    h2 Please provide below information to join a chatroom!
                    p#roomname Room Name:
                        input(type='text')
                    p#nickname Nickname:
                        input(type='text')
                    button Submit
                
            div.chatbox 
                form 
                    h2
                    span
                        input(type='text')
                        button.chatbox_sendbutton Send
                    
                    div.chatspace
                        h4 


                    


        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 